@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #DDD6C1;
  font-family: 'Inter', sans-serif;
}

#site-header *,
#site-footer * {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#site-footer {
  background-color: #FDF6E3;
  background-image: url(img/advice-dog-template.jpg);
  background-size: 30px;
  background-repeat: repeat;
}

#site-footer div {
  background-color: #fdf6e3;

  border-style: dashed;
  border-color: black;
  border-radius: 6px;
  padding: 0 32px;
}

.cards {
  box-sizing: content-box;
  padding: 0 calc(35% - 8em);
  padding-bottom: 100px;
}

@media (max-width: 750px) {
  .cards {
    box-sizing: content-box;
    margin-left: 2em;
    padding-right: 2em;
    max-width: 90%;
  }
}

@media (max-width: 450px) {
  .cards {
    box-sizing: content-box;
    margin-left: 1em;
    padding-right: 1em;
    max-width: 90%;
  }
}

.card {
  margin: 26px auto 26px auto;
  padding: 26px 16px 26px 16px;
  
  background-color: #FDF6E3;
  border: black;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}

.text p {
  margin: 1em 0;
  text-indent: 1em;
}

li::marker {
  color: #6F1A07;
}

.h1 {
  font-size: 2em;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slide-image {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 12vh;
}